*{
    margin: 0;
    padding: 0;
}
.nav{
    height: 40px;
    width: 100%;
    /* padding-top: 10px; */
    display: flex;
    justify-content: center;
    gap: 40vh;
    border:1px solid white;
    /* border-bottom: gray solid 1px; */
}
.rightelement{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.leftelement{
    display: flex;
    justify-content: center;
    gap: 50px;
}
select{
    border: none;
    padding-bottom: 15px;
    /* height: 50px;
    width: 50px; */
}
.button{
    height: 100%;
    
    background-color: burlywood;
    color: white;
    text-align: center;
}
p, .icon{
    padding-top:15px;
}
.icon{
    display: flex;
    gap: 10px;
}
.logo{
    font-size: 50px;
    font-family: Broadway;
}
.nav2{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50vh;
    border: 1px solid rgb(231, 226, 226);
}
.leftelement2{
    padding-top: 25px;
    display: flex;
    justify-content: center;
    gap: 3vh;
}
a{
    font-size: 25px;
    text-decoration: none;
    color: black;
}
.main{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-size: 100% 100%;
    background-image: url('https://images.unsplash.com/photo-1606402179428-a57976d71fa4?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHJlc29ydHxlbnwwfHwwfHx8MA%3D%3D');
}
.txt{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
button{
    border: none;
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    font-size: 25px;
}
.maintext{
    width: 60vw;
    padding-top: 30vh;
    padding-left: 25vh;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
.from{
    height: 100%;
    width: 380px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
#gust, #room , input{
    width: 180px;
    height: 35px;
    border: 1px solid black;
}
.swich{
    width: 300px;
    height: 75px;
    background-color: whitesmoke;
    border: burlywood solid 1px;
    color: burlywood;
}