*{margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    width:100%;
    border: 1px solid black;
    display: grid;
    /* grid-column: repeat(3,300px);
    grid-row: repeat(2,300px); */
}
.text{
    padding: 3vh;
    height: 500px;
    width: 75px;
}